/* background General */

#HomeView {
    -fx-background-image: url("/BackgroundImageHomePage.jpg");

    -fx-background-size: stretch;
}

/* titel Home View*/

#TitelHomeView {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#gameView {
    -fx-background-color: #dedcd9;
    -fx-background-size: stretch;
}

.label {
    -fx-text-fill: #E7DFBC;
    -fx-font-family: "Bookman Old Style";
}

.button{
    -fx-font-family: "Bookman Old Style";
}


/* button */
.button {
    -fx-background-color: #928043;

}

.button .text {
    -fx-fill: black;
}

.button:hover {
    -fx-background-color: #f6f7f3;

}

/* ButtonType */

.ButtonType {
    -fx-background-color: #726230;

}

.toggle-button {
    -fx-background-color: red;
}

.toggle-button .text {
    -fx-fill: black;

}

#playerNameGameView {
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-alignment: CENTER;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-border-color: #726230;
    -fx-text-fill: #858383;
}

#NewGameView {
    -fx-background-image: url("/BackgroundImageHomePage.jpg");
    -fx-background-size: stretch;
}

/* menu */
#menuContainer {
    -fx-font-size: 14.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10.0px;
    -fx-background-color: rgb(146, 128, 67);
    -fx-border-width: 2.0;
    -fx-alignment: center;

}

#RankingView {
    -fx-background-image: url("/BackgroundImageHomePage.jpg");
    -fx-background-size: stretch;
}



.table-view .column-header-background{
    -fx-background-color: #928043;


}

.table-view .column-header {
    -fx-background-color: transparent;
}





